@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
li{
    list-style: none;
}
body{
    line-height: 1;
}
button{
    cursor: pointer;
}


/* header */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #12A775;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}
.header a img{
    height: 71px;
    display: block;
    width: 70px;
    
}
.header nav ul li{
    display: inline-block;
    margin: 0 20px;
    font-size: 1.125rem
}
.header nav ul li:nth-child(1){
    position: relative;
}
.header nav ul li:nth-child(1)::after{
    content:'';
    width: 1.5rem;
    height: 100%;
    background: url(../img/nav_star_img.png) center/ cover no-repeat;
    position: absolute;
    top: 0;
    right: -35px;
}
.header nav ul li:nth-child(2){
    position: relative;
}
.header nav ul li:nth-child(2)::after{
    content:'';
    width: 1.5rem;
    height: 100%;
    background: url(../img/nav_star_img.png) center/ cover no-repeat;
    position: absolute;
    top: 0;
    right: -35px;
    line-height: 1;
}
.header nav ul li:nth-child(3){
    position: relative;
}
.header nav ul li:nth-child(3)::after{
    content:'';
    width: 1.5rem;
    height: 100%;
    background: url(../img/nav_star_img.png) center/ cover no-repeat;
    position: absolute;
    top: 0;
    right: -35px;
}

.header .util{
    display: flex;
    justify-content: space-between;
    
}
.header .util ul li{
    margin-right: 15px;
}

/* main */
/* main__visual */
.main__visual{
    padding: 12.5rem 0 6.25rem;
    border-bottom: solid 1px #E5E5E5;
}
.main__visual .swiper{
    padding:0 6.25rem;
    display: flex;
    height: 100%;
    position: static;
}
.main__visual .swiper .swiper-slide-active{
    height: 100%;
}
.main__visual .swiper .swiper-slide-active figure{
    width: 302px;
    height: 100%;
    overflow: hidden;
    border-radius: 25px;
    
}
.main__visual .swiper .swiper-slide-active figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.main__visual .swiper .swiper-slide-active div{
    width: 302px;
    height: 100%;
    margin: 30px 0;
}
.main__visual .swiper .swiper-slide-active div p{
    margin-bottom: 0.625rem;
    color: #0bab6d;
    font-size: 1.5rem;
}
.main__visual .swiper .swiper-slide-active div h3{
    font-size: 3.75rem;
    line-height: 1.17;
    letter-spacing: -1.5px;
    word-break: keep-all;
}
.main__visual .swiper .swiper-slide-active div button{
    width: 17.5rem;
    height: 4.375rem;
    margin-top: 30px;
    padding: 0 30px;
    color: white;
    text-align: left;
    background-color: #0bab6d;
    border: none;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
}

.main__visual .swiper .swiper-slide-next{
    position: relative;
    height: 100%;
    width: 33.75rem;
}
.main__visual .swiper .swiper-slide-next figure{
    height: 100%;
}
.main__visual .swiper .swiper-slide-next figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 25px;
    z-index: 1;
}

.main__visual .swiper .swiper-slide-next > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 4.063rem 2.5rem 0;
    color: white;
    backdrop-filter: brightness(50%);
    border-radius: 25px;
}
.main__visual .swiper .swiper-slide-next > div h4{
    font-size: 2.25rem;
}
.main__visual .swiper .swiper-slide-next > div > div{
    font-size: 3rem;
    border-top: 1px solid white;
    padding: 3.125rem 0;
}
.main__visual .swiper .swiper-slide-next ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.main__visual .swiper .swiper-slide-next ul a img{
    width: 120px;
    height: 100%;
    border-radius: 20px;
}
.main__visual .swiper .swiper-slide:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 100%;
    margin: 8.5rem 0 ;
    
    
}
.main__visual .swiper .swiper-slide:nth-child(3) figure {
    height: 15rem;
    width: 302px;
    border-radius: 25px;
    overflow: hidden;
}
.main__visual .swiper .swiper-slide:nth-child(3) figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next{
    position: absolute;
    right: 100px;
    bottom: 0;
}

/* section01 */
.section01{
    margin: 0 auto;
    padding: 6.25rem
}
.section01 h3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 48px;
    margin-bottom: 3.375rem;
}
.section01 h3 a{
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    border-radius: 30px;
    border: solid 1px #d4d4d4;
    background-color: none;
    color: #0D0D0D;
}
.section01 h3 a img{
    width: 15px;
    height: 15px;
    margin-left: 15px;
}
.section01 ul{
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 20px;
}
.section01 ul li{
    display: inline-block;
    position: relative;
    margin: 0 1.5rem 0 0;
    font-size: 1.5rem;
    
    
    
}
.section01 ul li:nth-child(2)::after{
    content: '';
    background: url(../img/section01_title_period.png) center/ cover no-repeat;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 10%;
    right: -18px;
}
.section01 ul li:nth-child(2)::before{
    content: '';
    background: url(../img/section01_title_period.png) center/ cover no-repeat;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 10%;
    left: -18px;
}

.section01 .list .swiper-slide{
    padding: 20px 0;
    
}
.section01 .list .swiper-slide:hover img{
    transform: scale(1.2);
}

.section01 .list .swiper-slide figure{
    height: 403.66px;
    width: 403.66px;
    border-radius: 20px;
    overflow: hidden;
    
}
.section01 .list .swiper-slide figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s;
}
.section01 .list .swiper-slide > div{
    padding: 20px 0 48px;
    width: 100%;
}
.section01 .list .swiper-slide > div > span{
    background-color: #fb9622;
    padding: 6px 0.625rem;
    color: #fff;
    font-size: 0.825rem;
    border-radius: 16px;
}
.section01 .list .swiper-slide > div h4{
    margin: 16px 0;
    font-size: 1.625rem;
}
.section01 .list .swiper-slide > div p{
    font-size: 14.4px;
}
.section01 .list .swiper-slide > div .hashtag{
    padding-top: 80px;
}
.section01 .list .swiper-slide > div .hashtag span{
    border: 1px solid #d4d4d4;
    margin-right: 0.625rem;
    margin-bottom: 5px;
    padding: 0.625rem 16px;
    color: #666;
    font-size: 1rem;
    border-radius: 21px;
}

/* section02 */
.section02{
    margin: 0 32px;
    padding: 80px 57.6px 57.6px;
    background-color: #fff9e2;
    background: url(../img/section02_bg.png) 100% 100% / cover no-repeat;
}
.section02 .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.375rem;
}
.section02 .title h3{
    font-size: 3.75rem;
}
.section02 .title a{
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    border-radius: 30px;
    border: solid 1px #d4d4d4;
}
.section02 .title a img{
    width: 15px;
    height: 15px;
    margin-left: 15px;
}
.section02 .list .swiper-slide{
    width: 28.75rem;
    height: 100%;
    padding: 2.5rem;
    
}

.section02 .list .swiper-slide div h4{
    font-size: 1.875rem;
    margin-bottom: 0.438rem;
}
.section02 .list .swiper-slide div p{
    color: #999;
}
.section02 .list .swiper-slide figure{
    width: 204px;
    height: 204px;
    border-radius: 20px;
    overflow: hidden;
    margin: 35px auto;
}
.section02 .list .swiper-slide figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    
}
.section02 .list .swiper-slide p, .section02 .list .swiper-slide div{
    opacity: 0;
}
.section02 .list .swiper-slide-next {
    background: url(../img/bg_frame.png) center/ cover no-repeat;
    border-radius: 20px;
    
}
.section02 .list .swiper-slide-next figure{
    border-radius: 20px;
}

.section02 .list .swiper-slide-next p, .section02 .list .swiper-slide-next div{
    opacity: 1;
    transition: all 1s 0.2s;
}
.section02 .list .swiper-slide-next a > p{
    line-height: 1.6;
    height: 100px;
    overflow: hidden;
}
.section02 .post{
    background-color: #fbb9bf;
    border-radius: 2.625rem;
    font-size: 19.2px;
    color: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.section02 .post strong{
    margin: 0 150px;
    
}
.section02 .post::before{
    content: '';
    width: 8.375rem;
    height: 8.375em;
    background: url(../img/section02_post_semi.png) center/ contain no-repeat;
    position: absolute;
    bottom: -25px;
    left: 40px;
}
.section02 .post a{
    width: 130px;
    border-left: 1px solid #fff;
    text-align: right;
    position: relative;
    
}
.section02 .post a::after{
    content: '';
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 1px solid #fff;
}
.section02 .post a:hover::after{
    width: 50%;
}
.section02 .post a i{
    margin-left: 5px;
}
/* banner */
.banner{
    padding: 4.5rem 7rem;
}
.banner .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .title .title__logo{
    display: flex;
    align-items: center;
}
.banner .title .title__logo img{
    height: 5.875rem;
    margin-right: 0.625rem;
}

.banner .title .title__logo h3{
    font-size: 3.75rem;
}
.banner .title a{
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    border-radius: 30px;
    border: solid 1px #d4d4d4;
}
.banner .title a img{
    width: 15px;
    height: 15px;
    margin-left: 15px;
}
/* footer */
.footer{
    padding: 2.75rem 7rem;
    display: flex;
    justify-content: space-between;
    background-color: #F2F2F2;
}
.footer__left .footer__link{
    display: flex;
    margin-bottom: 2.25rem;
}
.footer__left .footer__link li{
    display: flex;
    align-items: center;
    font-weight: bold;
} 
.footer__left .footer__link li:nth-child(1)::after{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #c4c4c4;
    margin: 0 8px;
    display: inline-block;
}
.footer__left .footer__link li:nth-child(2)::after{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #c4c4c4;
    margin: 0 8px;
    display: inline-block;
}
.footer__left .footer__link li:nth-child(3)::after{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background-color: #c4c4c4;
    margin: 0 8px;
    display: inline-block;
}
.footer__left .footer__info{
    margin-bottom: 20px;
}
.footer__left .footer__info li{
    display: inline-block;
    color: #666;
}
.footer__left .footer__info li:first-child{
    margin-right: 0.625rem;
    padding-right: 0.625rem;
    position: relative;
}
.footer__left .footer__info li:first-child::after{
    content: '';
    width: 1px;
    height: 0.625rem;
    background-color: #666;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);   
}
.footer__left .copyright{
    color: #c4c4c4;
    font-size: 0.825rem;
}
.footer__right{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.footer__right .contact{
    display: flex;
    align-items: center;
}
.footer__right .contact .kkt, .insta{
    background-color: #e5e5e5;
    border-radius: 100%;
    margin-left: 8px;
    width: 3rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    
}
.footer__right .contact > li:nth-child(3){
    position: relative;
    margin-left: 1.25rem;
    z-index: 1;
}
.footer__right .contact li:nth-child(3) > button{
    padding: 0.875rem 1.875rem;
    font-size: font-size: 0.625rem;
    background-color: #fff;
    border: 1px solid #333;
    border-radius: 2.25rem;
}

.footer__right .contact li:nth-child(3) div{
    position: absolute;
    bottom: 100%;
    right: 0;
    transform: translateY(20%);
    width: 100%;
    height: 13rem;
    padding: 1.875rem 1.25rem 4.875rem 1.8rem;
    border-radius: 2.25rem;
    z-index: -1;
    border: 1px solid #d9d9d9;
    background-color: #fff;
}
.footer__right .contact li:nth-child(3) div{
    word-break: keep-all;
}
.footer__right .contact li:nth-child(3) div ul li{
    margin-bottom: 8px;
    font-size: 0.7rem;
}
.footer .up__btn{
    margin-top: 1.875rem;
    width: 3rem;
    height: 3rem;
    background-color: black;
    border-radius: 12px;
    border: solid 1px #d4d4d4;
    background-color: #fff;
}
.footer .up__btn img{
    display: block;
    margin: auto;
    width: 0.875rem;
    
}


